# Node
node_modules/
package-lock.json
npm-debug.log
# Build
dist/
coverage/
# Artifacts
artifact/
deployment.zip
deployment-esbuild.zip
artifact_unpack/
esbuild_unpack/
# Env
.env
# VSCode
.vscode/
# Mac
.DS_Store
